.home {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 750px;
}

.home_title {
  color: Black;
  font-size: 48px;
}

.home_subtitle {
  color: #fff;
  font-size: 20px;
}

.img{
  margin-top: -400px;/*sorry for this*/
  margin-left: 750px;
}