.nav {
  top: 0;
  left: 0;
  position: absolute;
  background: transparent;
  margin-top: -10vh;
  position: sticky;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 24px 24px;
}

.navbar_container_active {
  background: radial-gradient(circle, rgba(222,151,0,1) 0%, rgba(214,88,0,1) 100%);
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 0 24px;
}

.navbar_logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav_menu {
  display: flex;
  align-items: center;
}

.nav_item {
  cursor: pointer;
  padding: 0 10px;
  margin-right: 30px;
}

.nav_links {
  position: relative;
  width: 150px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  transition: 0.3s;
  overflow: hidden;
  text-decoration: none;
}

.nav_links:hover {
  color: #fff;
}

.nav_links:hover:before {
  width: 50%;
  height: 20%;
  border-color: #fff;
}

.nav_links:hover:after {
  width: 50%;
  height: 20%;
  border-color: #000;
}

.nav_links:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.nav_links:after {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.connect_wallet {
  display: flex;
  align-items: center;
}

.mobile_icon {
  display: none;
}

@media screen and (max-width: 1300px) {
  /*Mobile View */
  .nav_item {
    display: none;
  }
  .navbar_container::before {
    display: none;
  }
  .mobile_icon {
    color: #fff;
    justify-self: flex-start;
    cursor: pointer;
    font-size: 1.8rem;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    cursor: pointer;
    align-items: center;
  }
  .connect_wallet {
    display: none;
  }
}
